<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JobTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JobTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<startup>
    --><!--useLegacyV2RuntimeActivationPolicy="true"--><!--
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>-->

	
    <!--<requestedExecutionLevel level="requireAdministrator" uiAccess="false" />-->


	<!--<requestedExecutionLevel level="highestAvailable" uiAccess="false" />-->
	
		
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <requiredRuntime version="v4.0.20506" />	
  </startup>
  <connectionStrings>
    <add name="EFDbContext" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VE-ADSERVER01\SQLEXPRESS;initial catalog=TestVariousInfo;persist security info=True;user id=sa;password=User123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
	  
    <add name="JobTracker.Properties.Settings.MastreTable" connectionString="Data Source=VE-ADSERVER01\SQLEXPRESS;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=User123" />
	  
    <add name="JobTracker.Properties.Settings.Setting" connectionString="Data Source=VE-ADSERVER01\SQLEXPRESS;Initial Catalog=PCTracker;Persist Security Info=True;User ID=sa;Password=User123" />
	  
    <add name="PCTrackerEntities" connectionString="metadata=res://*/ModelPCTracker.csdl|res://*/ModelPCTracker.ssdl|res://*/ModelPCTracker.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PCTracker;persist security info=True;user id=sa;password=User123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
	  
    <add name="JobTracker.Properties.Settings.TestVariousInfo_WithDataConnectionString"
      connectionString="Data Source=OTC4;Initial Catalog=TestVariousInfo;Persist Security Info=True;User ID=sa;Password=download"
      providerName="System.Data.SqlClient" />


	  <add name="TestVariousInfo_WithDataEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VE-ADSERVER01\SQLEXPRESS;initial catalog=TestVariousInfoRW;persist security info=True;user id=sa;password=User123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
	  
	  
  </connectionStrings>
    <!--<JobTracker.My.Settings>
      <setting name="BtnBackColor" serializeAs="String">
        <value>GradientInactiveCaption</value>
      </setting>
      <setting name="BtnFont" serializeAs="String">
        <value>Calibri, 9.5pt</value>
      </setting>
      <setting name="BtnFlateStyle" serializeAs="String">
        <value>Flat</value>
      </setting>
      <setting name="timeSheetLoginUserID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="timeSheetLoginName" serializeAs="String">
        <value />
      </setting>
      <setting name="timeSheetLoginUserType" serializeAs="String">
        <value />
      </setting>
      <setting name="IsLocalDataBase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PretimeSheetLoginUserID" serializeAs="String">
        <value>Null</value>
      </setting>
      <setting name="PretimeSheetLoginName" serializeAs="String">
        <value>Null</value>
      </setting>
      <setting name="PretimeSheetLoginUserType" serializeAs="String">
        <value>Null</value>
      </setting>
      <setting name="LocalDataBaseConnString" serializeAs="String">
        <value />
      </setting>
    </JobTracker.My.Settings>-->
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <JobTracker.Properties.Settings>
      <setting name="BtnFont" serializeAs="String">
        <value>Calibri, 9.5pt</value>
      </setting>
      <setting name="BtnFlateStyle" serializeAs="String">
        <value>Flat</value>
      </setting>
      <setting name="timeSheetLoginUserID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="timeSheetLoginName" serializeAs="String">
        <value />
      </setting>
      <setting name="timeSheetLoginUserType" serializeAs="String">
        <value />
      </setting>
      <setting name="IsLocalDataBase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PretimeSheetLoginUserID" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="PretimeSheetLoginName" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="PretimeSheetLoginUserType" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="LocalDataBaseConnString" serializeAs="String">
        <value />
      </setting>
      <setting name="IsTestDatabase" serializeAs="String">
        <value>False</value>
      </setting>
    </JobTracker.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <JobTracker.Properties.Settings>
      <setting name="GridBackColor" serializeAs="String">
        <value>GradientActiveCaption</value>
      </setting>
      <setting name="BtnBackColor" serializeAs="String">
        <value>GradientInactiveCaption</value>
      </setting>
    </JobTracker.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.2.0" newVersion="2.5.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.2.0" newVersion="2.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
